@using System.Security.Claims
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="profile user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <br />
                @User.FindFirst(c => c.Type == ClaimTypes.Country)?.Value

            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">CATEGORIES</li>
            <li class="@(Html.IsMenuActive("/Dashboards/Index") ? "active" : "")">
                <a asp-controller="Dashboards" asp-action="Index">
                    <i class="fa fa-home"></i> <span>Beranda</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/DaftarAnggota/Index") ? "active" : "")">
                <a asp-controller="DaftarAnggota" asp-action="Index">
                    <i class="fa fa-users"></i> <span>Daftar Anggota</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/DaftarPrestasi/Index") ? "active" : "")">
                <a asp-controller="DaftarPrestasi" asp-action="Index">
                    <i class="fa fa-trophy"></i> <span>Daftar Prestasi</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Kalender/Index") ? "active" : "")">
                <a asp-controller="" asp-action="Index">
                    <i class="fa fa-calendar-plus-o"></i> <span>Kalender Kegiatan</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/OrganisasiOrmawa/Index") ? "active" : "")">
                <a asp-controller="OrganisasiOrmawa" asp-action="Index">
                    <i class="ion ion-ios-people-outline"></i> <span>Ormawa</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Panduan/Index") ? "active" : "")">
                <a asp-controller="" asp-action="Index">
                    <i class="fa fa-book"></i> <span>Panduan</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Upload/Index") ? "active" : "")">
                <a asp-controller="Upload" asp-action="Index">
                    <i class="fa fa-folder"></i> <span>Laporan Kegiatan</span>

                </a>
            </li>
            <li class="@(Html.IsMenuActive("/DaftarPublikasi/Index") ? "active" : "")">
                <a asp-controller="DaftarPublikasi" asp-action="Index">
                    <i class="fa fa-comments"></i> <span>Publikasi</span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Rkat/Index") ? "active" : "")">
                <a asp-controller="Rkat" asp-action="Index">
                    <i class="fa fa-comments"></i> <span>Pengajuan RKAT</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
