@model Ormawa.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Index";
}
<html>
<body>
    @foreach (var i in Model.ListPublikasi)
    {
        @i.Nama
        <br />
        @i.Judul
        <br />
        @Html.Raw(@i.Isi)
        <br />
        @i.TanggalInsert
        <br />
        <br />
    }
</body>
</html>
